<script>
    export default {
        name: 'checkbox',
        props: {
            checked: Boolean,
            name: String,
            label: String
        }
    }
</script>

<template>
    <label class="checkbox">
        <input type="hidden" :name="name" value="">
        <input type="checkbox" :name="name" :checked="checked">
        <span>{{label}}</span>
    </label>
</template>