<script>
    export default {
        name: 'inputfield',
        props: {
            type: {type: String, 'default': 'text'},
            label: String,
            name: String,
            errors: {type: Array, 'default': () => []},
            value: String
        },
        computed: {
            id() {
                return 'input-' + this._uid;
            }
        }
    }
</script>

<template>
    <div class="form-group" :class="{'has-error': errors.length > 0}">
        <label :for="id" class="control-label">{{label}}</label>
        <input :id="id"
               :type="type"
               :name="name"
               :value="value"
               class="form-control"
               :placeholder="label">
        <span v-for="error in errors" class="help-block">{{error}}</span>
    </div>
</template>