<script>
    export default {
        props: ['kills', 'deaths'],
        computed: {
            total() {
                return this.kills + this.deaths;
            },
            killPercent() {
                if (this.total === 0) {
                    return 0;
                }

                return (this.kills / this.total) * 100;
            },
            deathPercent() {
                if (this.total === 0) {
                    return 0;
                }

                return (this.deaths / this.total) * 100;
            }
        }
    }
</script>

<template>
    <div>
        <div class="clearfix">
            <div class="pull-left">
                Kills: {{kills}}
            </div>
            <div class="pull-right">
                Deaths: {{deaths}}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" :style="{width: killPercent+'%'}"></div>
            <div class="progress-bar progress-bar-danger" :style="{width: deathPercent+'%'}"></div>
        </div>
    </div>
</template>